<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Work Orders <%= link_to 'New Work Order', new_work_order_path, class: "btn btn-default" %>
        </h1>
        <ol class="breadcrumb square">
          <li class="active">Work Orders</li>
        </ol>
    </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div id='search-header'>
      <%= render 'search_header' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
    <div class="panel panel-default panel-table">
      <div class="panel-body">
        <table id="table_id" class="table table-striped">
          <thead>
            <tr>
              <th>Customer Name</th>
              <th>Pickup Location</th>
              <th>Destination</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody id="work_orders_list">
            <%= render @work_orders %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
